*{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: Verdana, sans-serif;
}

div{
text-align: center;

}

input{
    margin: 10px;
    width: 8em;
}

button{
    border: none;
    width: 8em;
    margin: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.carro,.carro2{
    border: 1px solid rgb(236, 22, 22);
    padding: 10px;
    margin: 10px;
    background-color: grey;
    color: white
    
}

.carro2{
    border: 1px solid rgb(232, 236, 22);
    background-color: grey;
    color: white;
}



#res{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.box{
    background-color: grey;
}
